/* GLOBAL STYLES OF OPTIMUS  */
/* MIT Copyright 2024 */

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* FONT IMPORT  */


/* MAIN  */
:root {
    --background--: rgb(20, 20, 20);
    --clear--: rgb(255, 255, 255);

    --gray1--: rgb(72, 72, 72);
    --yellow--: rgb(255, 221, 2);
    --rounded-lg--: 25px;
    --rounded-md--: 15px;
    --rounded-sm--: 10px;
    --rounded-xl--: 30px;
    --rounded-full--: 50%;


}


body{
    color: var(--clear--);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: -21px;
}

#a{
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--clear--);
}

/* Border Rounded  */

.rounded-lg{
    border-radius: var(--rounded-lg--);
}
.rounded-md{
    border-radius: var(--rounded-md--);
}
.rounded-sm{
    border-radius: var(--rounded-sm--);
}
.rounded-xl{
    border-radius: var(--rounded-xl--);
}
.rounded-full{
    border-radius: var(--rounded-full--);
}

/* Paddings */

.p-1{
    padding: 0.5rem;
}
.p-2{
    padding: 1rem;
}

/* Text Color  */

.text-light{
    color: var(--clear--);
}

.border-null {
    border: none;
}

/* Background Color  */

.bg-light{
    background: var(--clear--);
}

.bg-dark{
    background: var(--background--);
}

.bg-gray{
    background: var(--gray1--);
}

.bg-yellow{
    background: var(--yellow--);
}

/* Width & Height  */
.w{
    width: 0px;
}

/* Font Styles  */
.font-notosans-100 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-notosans-200 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.font-notosans-300 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.font-notosans-400 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.font-notosans-500 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.font-eduaustralia-100 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.font-eduaustralia-200 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.font-eduaustralia-300 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.font-eduaustralia-400 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.font-eduaustralia-500 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.font-roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.font-roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.font-roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.font-roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.font-roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.font-roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.font-roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
.font-roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
.font-roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.font-roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
.font-roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.font-roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  