doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Optimized Framework Example
    link(rel="stylesheet" href="../../src/styles/global.css")
  body
    style 
     .container
        h1 Optimus 
     .border 
        border = 2px;
    h1 Optimus 
    hr
    p Optimus is a framework for building web applications. It is a collection of tools and libraries
    table.border  
      tr  
        th Repository 
        th Description
      tr
        td 
          a(href="https://github.com/DrxcoDev/Optimus/tree/main/lab") lab/
        td 
          p Folder where have pre-test and fixes bugs, ignore this file.  
      tr 
        td 
          a(href="https://github.com/DrxcoDev/Optimus") GitHub
        td 
          p Oficial GitHub repository of Optimus
      tr 
        td 
         a(href="https://github.com/DrxcoDev/Optimus/tree/main/src") src/ 
        td 
          p Folder where have the source code where work the framework.
      tr 
        td 
          a(href="https://github.com/DrxcoDev/Optimus/tree/main/test") test/
        td 
         p Folder where have the test files.
    div 
      h1 Hello World 
      hr
      p Basic use 
      ul 
        li 
         p Create app.js
         

