doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Optimized Framework Example
    link(rel="stylesheet" href="../../src/styles/global.css")
  body
    h1 Optimus 
    hr
    p Optimus is a framework for building web applications. It is a collection of tools and libraries
    div#app
    script(src="../../src/core.js")
    script(src="app.js")
